.back {
  position: absolute;
  display: flex;
  top: 0;
  display: none;
  height: 100%;
}

.front {
  &:hover {
    color: rgb(196, 189, 189);
  }
}
.wrapper {
  position: relative;
  &:hover {
    .front {
      opacity: 0.8;
      color: rgb(196, 189, 189);
    }
    .back {
      display: block;
      height: 100%;
    }
  }
}
