.description {
  font-family: roboto;
  overflow: auto;
}
.reversible {
  height: 100%;
  background-color: rgba(171, 163, 163, 0.493);
}
.full__details {
  max-height: 300px;
}
.wrapper {
  color: rgb(49, 48, 48);
  font-weight: 400;
  padding: 0.5em;
}
