.explanation {
  min-height: 2.5em;
  text-align: center;
  padding-top: 2em;
  font-size: 1.25em;
}
.wrapper {
  padding-top: 2em;
  padding-bottom: 1em;
  font-family: roboto;
}
h2 {
  text-align: center;
}
